<div class="footer mt-3">
  <p class="text-light">More From Star Wars:</p>
  <div class="social-links">
    <ul>
      <li class="social-icon">
        <a class="social-link" href="https://www.facebook.com/StarWars" target="_blank" rel="noopener noreferrer"
          title="TikTok">
          <img src="assets/socials/facebook-0555f4e591a5.svg" alt="">
        </a>
      </li>
      <li class="social-icon">
        <a class="social-link" href="https://www.instagram.com/starwars/" target="_blank" rel="noopener noreferrer"
          title="Instagram">
          <img src="assets/socials/instagram-777ba125c2e7.svg" alt="">
        </a>
      </li>
      <li class="social-icon">
        <a class="social-link" href="https://www.youtube.com/user/starwars" target="_blank" rel="noopener noreferrer"
          title="Twitter">
          <img src="assets/socials/youtube-a3728986e4b2.svg" alt="">
        </a>
      </li>
      <li class="social-icon">
        <a class="social-link" href="https://twitter.com/starwars" target="_blank" rel="noopener noreferrer"
          title="Facebook">
          <img src="assets/socials/twitter.svg" alt="">
        </a>
      </li>
    </ul>
  </div>

  <p class="mt-5 text-light"><small>TM & © Lucasfilm Ltd. All Rights Reserved</small></p>

</div>
