.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}


.logo {
  width: 45%;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: center;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.auth-links {
  display: flex;
  align-items: end;
  gap: 10px;
}

.auth-links a {
  color: white;
  text-decoration: none;
}

.nav-link {
  color: rgb(185, 185, 185);
}

.nav-link:hover {
  color: white;
  border-block-end-color: blue;
}

.custom-hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 0;
}

.logout-btn {
  color: white;
}
.logout-btn:hover {
  cursor: pointer;
  color: rgb(233, 58, 58);
}

.login-btn:hover {
  cursor: pointer;
  color: rgb(151, 156, 119) !important;
}

.register-btn:hover {
  cursor: pointer;
  color: rgb(151, 156, 119) !important;
}

:host {
  display: block;
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/outlaws-payoff-key-art-hero-desktop_700d9f75.jpeg?region=0,0,1600,686');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}

.social-link img:hover {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(78%) sepia(97%) saturate(344%) hue-rotate(345deg) brightness(99%) contrast(97%);
}
