<nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="assets/socials/facebook-0555f4e591a5.svg" alt="">
        <img src="assets/socials/instagram-777ba125c2e7.svg" alt="">
        <img src="assets/socials/youtube-a3728986e4b2.svg" alt="">
        <img src="assets/socials/twitter.svg" alt="">
      </div>
      <div class="col d-flex justify-content-center mt-4 align-items-center">
        <img src="assets/starwarslogo.png" alt="Star Wars Logo" class="logo">
      </div>
        <div class="col auth-links justify-content-end align-items-center">
          <a href="#">LOG IN</a>
          <span>/</span>
          <a href="#">SIGN UP</a>
        </div>
    </div>
  </div>
</nav>


<nav class="mt-5 d-flex border">
  <div class="container-fluid d-flex  justify-content-center">
    <div class="row">
      <div class="col">
        <ul class="nav-links">
          <li><a href="/home">HOME</a></li>
          <li><a href="#">STARSHIPS</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
