:host {
  display: block;
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/outlaws-payoff-key-art-hero-desktop_700d9f75.jpeg?region=0,0,1600,686');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 32vw;
  width: 100%;
}
