
<div class="container text-center mt-5">
  <h1 class="display-4 text-light">Bienvenido a la Galaxia Star Wars</h1>
  <p class="lead text-light">Explora el universo de Star Wars, conoce a tus personajes favoritos, y mucho más.</p>
  <!-- <img src="https://lumiere-a.akamaihd.net/v1/images/outlaws-payoff-key-art-hero-desktop_700d9f75.jpeg?region=0,0,1600,686" alt="Star Wars Logo" class="img-fluid mb-4" style="max-width: 100%;"> -->
  <hr class="my-4">
  <div class="d-flex justify-content-center">
    <a href="#" class="btn btn-primary btn-lg mx-2">Personajes</a>
    <a href="#" class="btn btn-secondary btn-lg mx-2">Películas</a>
    <a href="#" class="btn btn-secondary btn-lg mx-2">Starships</a>
  </div>
</div>
