
<div class="container text-center">
  <h1 class="display-4 text-light pt-5">Bienvenido a la Galaxia Star Wars</h1>
  <p class="lead text-light">Explora el universo de Star Wars, conoce a tus personajes favoritos, y mucho más.</p>

  <hr class="my-4">
  <div class="d-flex justify-content-center">
    <a href="https://starwars-visualguide.com/#/characters?page=1" target="_blank" class="btn btn-primary btn-lg mx-2">Personajes</a>
    <a href="https://starwars-visualguide.com/#/films?page=1" target="_blank" class="btn btn-secondary btn-lg mx-2">Películas</a>
    <a href="/starships" class="btn btn-secondary btn-lg mx-2">Starships</a>
  </div>
</div>
