.card {
  background: rgb(41, 41, 41);

}

.custom-card {
  max-width: 300px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card img {
  border-radius: 5px 5px 0 0;
}

.card-title {
  font-size: 1.5rem;
  color: #aaaaaa;
  text-transform: uppercase;
}

.card-subtitle {
  font-size: 1.5rem;
  color: #aaaaaa;
}

.custom-hr {
  border: none;
  border-top: 1px solid #ffffff; /* Cambia el grosor y el color aquí */
}

.custom-font {
  font-weight: bold;
}
